body {
    background-color: purple;
}

#header-title {
    font-size: 60px;
}

/* #timerText {
    text-align: center;
    font-size: 50px;
    border-radius: 25px;
    border: 10px solid white;px;
    width: 100px;
    height: 90px;
    margin-top: -5px;
    padding-bottom: 75px;
  }

.timerBox {
    max-height: 65px;
} */

#timerText, #timeRemaining {
    font-size: 30px;
    border-radius: 25px;
}

/* Where quiz takes palce */
#main {
    background-color: white;
}

#nameDisplay {
    font-size: 30px;
}